body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  /* background: rgb(55, 28, 76);
  background: linear-gradient(
    90deg,
    rgba(55, 28, 76, 1) 0%,
    rgba(66, 34, 91, 1) 51%
  ); */
  /* background: rgb(56, 25, 130);
  background: linear-gradient(
    90deg,
    rgba(56, 25, 130, 1) 0%,
    rgba(91, 6, 157, 1) 49%
  ); */
}

#quizPreferences,
#quizContainer,
#finishQuiz {
  display: none;
}

#landingPage {
  position: relative;
  height: 100vh;
}

.landing__container {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.landing__hero {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.landing__title {
  color: #000;
  width: 50%;
  margin: 50px;
}

.landing__image-container {
  width: 50%;
}

.landing__image {
  height: auto;
  width: 100%;
  /* scale: 20%; */
}

.landing__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 40px;
  width: 180px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.primary-btn {
  background-color: rgb(30, 30, 249);
  color: white;
}

.primary-btn:hover {
  background-color: rgb(28, 28, 193);
}

.secondary-btn {
  background-color: rgb(220, 220, 220);
}

.secondary-btn:hover {
  background-color: rgb(201, 201, 201);
}

.btn-icon {
  height: 60%;
  width: auto;
  margin-left: 10px;
}
